<div class="row">
  <div class="col-lg-6">

    <h1 class="font-weight-bold text-white mb-3">MetDA</h1>
    <p class="text-white mb-4">MetDA provides a comprehenvise collection of statistical methods that are frequently used in metabolomics data analysis.</p>
    <button mat-raised-button class="btn btn-rose">Read More</button>

  </div>
</div>
<p>
    your have three ways of using metda
</p>
<div class="row">
  <div class="col-lg-3">
    <button mat-raised-button class="btn btn-rose" [routerLink]="['/metda/auto-analysis']">Auto Analysis</button>
  </div>
  <div class="col-lg-3">
    <button mat-raised-button class="btn btn-rose" [routerLink]="['/metda/project-based']">Project Based</button>
  </div>
  <div class="col-lg-3">
    <button mat-raised-button class="btn btn-rose" [routerLink]="['/metda/in-and-out']">In & Out</button>
  </div>
</div>