<nav class="navbar navbar-expand-lg bg-primary navbar-absolute" color-on-scroll="500">
  <div class="container">
    <div class="navbar-wrapper">
      <a class="navbar-brand d-none d-sm-none d-md-block" [routerLink]="['/dashboard']">MetDA - Metabolomics Data
        Analysis</a>
    </div>
    <button mat-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/metda/home']">
            <i class="material-icons">home</i> home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/metda/auto-analysis']">
            <i class="material-icons">flash_auto</i> auto-analysis
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/metda/project-based']">
            <i class="material-icons">filter_none</i> project-based
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/metda/in-and-out']">
            <i class="material-icons">import_export</i> in-and-out
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>



<div class="wrapper wrapper-full-page">
    <div class="page-header header-filter">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

<app-modal></app-modal>