<div class="modal-body">
  <ol>
    <li>
      upload a root dataset
      <input id = "input" type="file" (change)="check_uploaded_data_format()">
      <button (click)="remove_uploaded_data()" *ngIf="data_uploaded">Remove</button>
      <ul *ngIf="data_uploaded">
          <li *ngFor="let success_message of success_messages; let i = index" class="text-success">
            {{success_message}}
          </li>
      </ul>
      <ul *ngIf="data_uploaded">
          <li *ngFor="let warning_message of warning_messages; let i = index" class="text-warning">
            {{warning_message}}
          </li>
      </ul>
    </li>
    <li *ngIf="data_uploaded">
      give the project a name
      <input type="text" value="" placeholder="name of the project" class="form-control" [(ngModel)]="new_project_name"  autofocus/>
    </li>
  </ol>


</div>

<div class="modal-footer">
  <button mat-raised-button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
  <button mat-raised-button type="button" class="btn btn-rose btn-link" (click)="createNewProject()"  *ngIf="data_uploaded">Create New Project</button>
</div>